*{
    font-family: "Red Hat Text", sans-serif;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}


.red-hat-text {
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

main {
    background-color: #fcf8f5;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

img{
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

a{
    color: black;
    text-decoration: none;
}


.desert-title{
    margin-bottom: 20px;
    font-size: 40px;
}

.add-to-cart-img{
    width: 20%;
}

.img-cart .cart{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    position: relative;
    border: 1px solid grey;
    background-color: white;
    padding: 5px;
    border-radius: 50px;
    width: 50%;
    max-width: 150px;
    margin-top: -20px;
    font-size: smaller;
}

.cart:hover{
    background-color: #c83b0e;
}

.deserts-cards{
    display: grid;
    width: 100%;

}

.card-item{
    display: grid;
    line-height: 0;
    margin-bottom: 15px;
}

.info-area{
    line-height: 20px;
    margin-top: 20px;
}

.grey-text{
    color: grey;
}

.price{
    color: #c83b0e;
}

.cart-title{
    color: #c83b0e;
}

.cart-card{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.cart-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-box img{
    width: 100%;
    max-width: 300px;
}

.cart-box p{
    color: #7c6e6d;
}

@media (min-width:1024px){
    main{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 40px;
    }

    .deserts-cards{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .cart-card{
        display: grid;
        justify-self: start;
        align-self: start;
        width: 100%;
        padding: 30px;
    }

    .img-cart .cart{
       max-width: none;
    }
}